@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lora:wght@600&family=Montserrat:wght@500&display=swap');
*{
    
    font-family: 'Lora', serif;
    

}



.back-text{
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(135, 128, 31, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar {
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(135, 128, 31, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.spacing {
    margin-top: 6rem;
}

#gradient{

    background: rgb(255,193,7);
    background: linear-gradient(90deg, rgba(255,193,7,1) 0%, rgba(205,174,30,1) 71%, rgba(0,0,0,1) 100%);
}

.widthphone{

    width: 170;
    height: 120;
}
.width{

    width: 120;
    height: 120;
}

.custom-shape-divider-bottom-1644269973 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644269973 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1644269973 .shape-fill {
    fill: #000000;
}

.spacer {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

.custom-shape-divider-top-1644269999 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644269999 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1644269999 .shape-fill {
    fill: #000000;
}

.card:hover{

    transform: scale(1.1);
    transition: 0.5s;
    
    
}

.custom-shape-divider-top-1644341122 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644341122 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 101px;
}

.custom-shape-divider-top-1644341122 .shape-fill {
    fill: #000000;
}

.spacer-sus {
    margin-top: 5em !important;
    padding-top: 100px !important;
    padding-bottom: 170px !important;
}

.custom-shape-divider-bottom-1644342007 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1644342007 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 169px;
}

.custom-shape-divider-bottom-1644342007 .shape-fill {
    fill: #000000;
}